---
console.log('TestComponent - Component loaded successfully');
---

<div class="bg-red-500 text-white p-4 rounded-lg">
  <h3>TEST COMPONENT LOADED</h3>
  <p>If you see this, the import system is working!</p>
</div>
